.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

:root {
    --cor01: '#1D3557';
    --cor02: '#457B9D';
    --cor03: '#447A9C';
    --cor04: '#F1FAEE';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f8ff;
}

.top-nav{
    background: linear-gradient(271.04deg, #1D3557 -3.12%, #457B9D 90.28%);
    width: 100%;
    height: 30px;
    padding: 0 .5em;
    position: relative;
    display: flex;
}

.top-nav-content, .nav-content{ 
    max-width: 1300px;
    width: 100%; 
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    float: right;
    padding: 12px;
    transition: all 300ms;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    margin-right: 2em;
}

.menu a, .menu a:visited, .menu a:link, .menu a:active{
    text-decoration: none;
    color: #1C4057;
    font-weight: bold;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 2em;
}

.menu{
    display: flex;
}

section#carrosel{
    width: 100%;
    height: calc(100vh - 120px);
}

section#info-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    margin: 5em auto;
}

section article#card{
    width: 300px;
    height: 204px;
    
    background: #FFFFFF;
    box-shadow: 4px 4px 39px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    display: flex;
}

.info-temperature, .icon-info-temp{
    width: 50%;
    height: 100%;
}

.info-temperature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .8em;
}

.info-temperature p{
    font-size: 0.8em;
    color: #0A475F; 
}

.info-temperature p>span{
    font-weight: bold;
}

#atualDay,#atualDays{
    color: #949494;
}

#atualTemp{
    font-size: 3.5em;
    color: #1C4057;
}

.icon-info-temp{
    display: grid;
    place-items: center;
}

.icon-info-temp img{
    width: 80%;
}

input[type="text"]:focus {
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

#bntSearch {
    background: rgba(255, 255, 255, 0.2);
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    background-color: #F1FAEE;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
    height: 36px;
    padding: 8px 12px;
}

#icons {
    gap: 10px;
}

#icons img {
    width: 32px;
}

#icons img:first-child {
    width: 44px !important;
}

#localTitle {
    display: flex;
    flex-direction: column;
    color: #fff;
}

#localTitle small {
    margin-top: -.5rem;
}

.local-section h1 {
    font-size: 2rem;
}

.local-section h1:not(:last-child) {
    margin-top: -10px;
}

#localText {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    cursor: default;
}


aside {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #447A9C 45.52%, #1C4057 100%);
    /* display: flex; */
    justify-content: center;
    padding-top: 112px;
    transition: all 300ms; 
    display: none;
    visibility: hidden;
}

main {
    padding: 12px;
    /* width: calc(100% - 200px); */
    width: 100%;
    float: right;
    position: relative;
    transition: all 300ms;
}

section {
    margin: 2rem auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

article {
    width: 100%;
    height: 250px;
    box-shadow: 4px 4px 39px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.hamburger-icon{
    display: none;
    visibility: hidden;
    transition: all 300ms;
}
#chart_div {
  background-color: transparent !important;
  padding: 0 !important;
}

.hamburger-icon::after{
    content: url(img/menu.svg);
}

#btnMob{
    display: none;
    visibility: hidden;
}

#optin-estacao{ 
    padding: 0 2em 0 .5em;
    height: 80%;
    border: .5px solid #fafafa;
    border-radius: 4px;
    color: #fafafa;
    background: transparent;
}

/**********************************LOADING SESSION**********************************************/

.active{
    display: none;
    visibility: hidden;
}

section#skLoading article{
    width: 100%;
    height: 250px;
    box-shadow: 4px 4px 39px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    background: linear-gradient(90deg, #447A9C  0%, rgb(241, 241, 241) 100%);
    background-size: 200% 100%;
    animation: skeleton-loading 3s ease-in-out infinite;
}


@keyframes skeleton-loading {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  } 

  

@media screen and (max-width: 800px){

    main{
        width: 100%;
        transition: all 300ms;
    }

    nav{
        width: 100%;
        transition: all 300ms; 
    }

    .menu{
        display: none;
    }

    #btnMob{
        display: flex;
        visibility: visible;
        font-size: 2em;
        color: #0A475F;
        cursor: pointer;
    }

    .wdth{
        transform: translateX(0px);
        width: 70%;
    }

    aside{
        transform: translateX(-350px);
        transition: all 300ms;
        display: flex;
        visibility: visible;
    }
    .hamburger-icon{
        display: block;
        visibility: visible;
        transition: all 300ms;
    }
    

section article#card{
    width: 50%;
    height: auto;
    flex-direction: column-reverse;
}

.info-temperature, .icon-info-temp{
    width: 100%;
}

.info-temperature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
} 
.icon-info-temp img{
    margin: .4em;
    width: 50%;
}
}
 

.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    width: 300%; /* 100% para cada item do carrossel */
    height: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 33.3333%; /* 33.3333% para cada item do carrossel */
    height: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  
  .carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color: #fff;
  }
  
  